<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <h1 class="title">Virtual Closet</h1>
        </a>
    <div class="navbar-item"></div>
    <div class="navbar-item"></div>
 
    
    <div class="navbar-end">
    <div class="navbar-item">
        <div class="buttons">
            <a href="/users/newUser"class="button is-black">
                <h1 >New User</h1>
            </a>
        </div>
    </div>
    </div>
    </div>
</nav>


<div class=" columns is-centered">
    {{#each user}}
    <div class="column is-full-mobile is-one-third-tablet is-one-quarter-desktop is-one-quarter-widescreen is-one-quarter-fullhd">
    
        <div class="card">
    
            <div class="card-image ">
                <figure class="image is-4by3">
                    <img src="{{img}}" alt="Placeholder image">
                </figure>
            </div>
        <div class="card-content">
            <div class="media">
                <div class="media-content">
                <p class="title is-4">{{name}}</p>
                <p class="subtitle is-6">{{email}}</p>
            </div>
        </div>
    </div>
    <footer class="card-footer">
        <a href="/users/{{_id}}/closets" class="card-footer-item">{{name}}'s Closet</a>
        <a href="/users/{{_id}}" class="card-footer-item">Profile</a>
    </footer>
    </div>
    </div>
    {{/each}}
</div>

