<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <h1 class="title">Virtual Closet</h1>
        </a>
        <div class="navbar-item"></div>
        <div class="navbar-item"></div>
    </div>
</nav>


<div class="tile is-full-mobile" style="padding: 10% 25% 15% 25%;">
<article class="media tile is-12 notification" style="background:peachpuff">
                <figure class="image is-128bx128px">
                    <img src="{{userId.img}}">
                </figure>
    <div class="media-content " style="padding-left:5%; padding-top:5%">
        <div class="content">
            <p>
                <strong class="title">{{userId.name}}</strong>
                <br>
                 <small >{{userId.email}}</small> 
                <br>
                <small >My Style: </small> <strong>{{userId.style}}</strong>
            </p>

            <a href="/users/{{userId._id}}/edit" class="button is-black">Edit</a>

            <a href="/users" class="button is-light">Back</a>

        </div>
    </div>
    <div class="media-right">
        <form action="/users/{{userId._id}}?_method=DELETE" method="POST">
            <button class="delete" type="submit"></button>
        </form>
        
    </div>
</article>

</div>
