<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <h1 class="title">Virtual Closet</h1>
        </a>
        <div class="navbar-item"></div>
        <div class="navbar-item"></div>


        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a href="/users/{{userId}}/new" class="button is-black">
                        <h1>Add to your Closet!</h1>
                    </a>
                </div>
            </div>
        </div>
    

        </div>
    </div>
</nav>




<div class="columns is-centered">
    {{#each category}}
    <div class="column is-full-mobile is-one-third-tablet is-one-quarter-desktop is-one-quarter-widescreen is-one-quarter-fullhd">
    
<div class="tile is-ancestor">
    <div class="tile is-parent">
        <article class="tile is-child box">
            <figure class="image is-4by3">
                <a href="/users/{{../userId}}/closets/{{_id}}"><img src="{{img}}"></a>
            </figure>
            <form action="/users/{{../userId}}/closets/{{_id}}?_method=DELETE" method="POST">
                <button class="button is-black" type="submit">Delete</button>
            </form>           
        </article>
    </div>
{{/each}}


</div>


</div>