<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <h1 class="title">Virtual Closet</h1>
        </a>
        <div class="navbar-item"></div>
        <div class="navbar-item"></div>


        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a href="/users/{{userId}}/newCategory" class="button is-white">
                        <h1 class="subtitle" style="color: rgb(202, 155, 117)">Add to your Closet!</h1>
                    </a>
                </div>
            </div>
        </div>
    

        </div>
    </div>
</nav>


{{#each category}}
<h1>{{name}}</h1>
<a href="/users/{{../userId}}/closets/{{_id}}">
<img src="{{{img}}}" alt="">
</a>


<form action="/users/{{../userId}}/closets?_method=DELETE" method="POST">
    <button class="button is-black" type="submit">Delete</button>
</form>
{{/each}}
