
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <h1 class="title">Virtual Closet</h1>
        </a>
        <div class="navbar-item"></div>
        <div class="navbar-item"></div>
    </div>
</nav>


<div class="container">
    <div class="container tile is-ancestor">
        <div class="container tile is-8" style="padding-top:10%">
            <div class="tile">

                <div class="tile is-parent">
                    <article class="tile is-child notification" style="background:peachpuff">
                        <p class="title">Where did you get this item?</p>
                        <p class="subtitle">Share it with others below.</p>
                        <form action="/users/{{userId}}/closets/{{closetid}}" method="POST">
                            <div class="field">
                                <label class="label"></label>
                                <div class="control">
                                    <input class="input" type="text" name="store" placeholder="Name of the Store" value="">
                                </div>
                            </div>

                            <div class="field">
                                <label class="label"></label>
                                <div class="control">
                                    <input class="input" type="text" name="storeLink" placeholder="Stores's website link" value="">
                                </div>
                            </div>
                            <button class="button is-black" type="submit">Post</button>
                            <a href="/users/{{userId}}/closets/{{closetid}}/{{_id}}" class="button is-light">Back</a>
                        </form>
                    </article>
                </div>
            </div>


        </div>
    </div>